// Huge
@media only screen and (min-width: 1600px)

	#body
		//


// Huge
@media only screen and (min-width: 1300px)
	
	#body
		//


// iPad
@media only screen and (min-width: 768px) and (max-width: 1024px)

	#body
		//


// iPhone +
// @media only screen and (min-width: 320px) and (max-width: 568px)
@media only screen and (min-width: 320px) and (max-width: 768px)

	#body
		//